<!doctype html>
<html lang="en">
  <%-include('head.ejs') %>
  <body>
    <%-include('nav.ejs') %>
    <div class="accordion">

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading">OO주차장</h2>
      </div>

      <% if(result != 'empty') {result.zone.sort()}%>
      <% for(var i=0; i<result.zone.length; i++) { %>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading_<%=i+1 %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_<%=i %>" aria-expanded="false" aria-controls="#collapse_<%=i %>">
            <%= result.zone[i].zoneName %>
          </button>
        </h2>
        <div id="collapse_<%=i %>" class="accordion-collapse collapse" aria-labelledby="heading__<%=i+1 %>" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul class="list-group">

              <!-- 예약 FORM -->
              <li class="list-group-item">
                <label for="startTime" class="form_label">시작시간</label>
                <input id="startTime<%=i %>" type="datetime-local" class="form-control" placeholder="datetime-local input">
                <label for="endTime" class="form_label">종료시간</label>
                <input id="endTime<%=i %>" type="datetime-local" class="form-control" placeholder="datetime-local input">
                <button class="btn btn-info" onclick="$('#confirmModal<%=i %>').modal('show')">예약</button>
              </li>

              <!-- 기존 예약 내역 출력 -->
              <%result.zone[i].reservedTime.sort(function(a, b) {
                return a.startTime - b.startTime;
              });%> 
              <% for(var j=0; j<result.zone[i].reservedTime.length; j++) { %>
                <li class="list-group-item">
                  시작: <%= result.zone[i].reservedTime[j].startTime.toLocaleString() %><br>
                  종료: <%= result.zone[i].reservedTime[j].endTime.toLocaleString() %><br>
                  예약자: <%= result.zone[i].reservedTime[j].userId%><br>
                  <% if(result.userId == result.zone[i].reservedTime[j].userId){ %>
                    <button type="button" class="btn btn-secondary" onclick="handOver('<%=result.zone[i].reservedTime[j]._id%>', '<%=result.zone[i]._id%>')">
                      양도</button>
                    <input type="text" id="<%=result.zone[i].reservedTime[j]._id%>">
                  <% } %>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>

      <!-- 예약 MODAL -->
      <div class="modal fade" id="confirmModal<%=i %>" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>예약하시겠습니까?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오 </button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="zoneReserve('<%=i%>')">예</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 예약 MODAL -->

      <!-- 예약완료 MODAL -->
      <div class="modal fade" id="completeModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>예약이 완료되었습니다</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="location.href='/parkingReservation'">확인</button>
            </div>
          </div>
        </div>
      </div>
      <!-- 예약완료 MODAL -->
      <% } %>
    </div>
  </body>

  <!-- SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT-SCRIPT- -->
  <script>
    var getMethodResult = <%- JSON.stringify(result) %>;
    console.log(getMethodResult)

    // 예약 시간 중복 여부 체크
    function reserveDupCheck(startTime, endTime, zoneIndex) {
      const resTime = getMethodResult.zone[zoneIndex].reservedTime
      const s = Date.parse(startTime);
      const e = Date.parse(endTime)
      for(var i = 0; i < resTime.length; i++) {
        ts = Date.parse(resTime[i].startTime);
        te = Date.parse(resTime[i].endTime);
        if((s <= ts && ts <= e) || (s <= te && te <= e) || (ts <= s && s <= te) || (ts <= e && e <= te)){
          console.log('time duplicated at:', ts, te)
          return 1;
        }
      }
      return 0
    }

    // 주차 구역 예약
    function zoneReserve(i) {
      var reserveData = {};
      reserveData.zoneName = getMethodResult.zone[i].zoneName
      reserveData.startTime = $("#startTime"+i).val();
      reserveData.endTime = $("#endTime"+i).val();
      console.log(reserveData)
      if(reserveDupCheck(reserveData.startTime, reserveData.endTime, i)){
        alert("예약 시간 중복");
      }else{
        $.ajax({
          url: "/parkingReservation",
          data: reserveData,
          type: "POST",
          dataType: "JSON",
          success: function (res) {
            if(res.isSuccess === 'false'){
              alert('예약 실패')
            } else{
              $('#completeModal').modal('show');  
            }
          }
        });
      }
    }

    // 주차 구역 양도
    function handOver(reserveOid, zoneOid){
      var handOverData = {};
      handOverData.consignee = $("#"+reserveOid).val();
      handOverData.reserveOid = reserveOid;
      handOverData.zoneOid = zoneOid;
      console.log(handOverData)
      $.ajax({
        url: "/parkingHandOver",
        data: handOverData,
        type: "POST",
        dataType: "JSON",
        success: function (res) {
          if(res.isSuccess === 'false'){
            alert(res.msg)
          } else{
            alert('양도 완료')
            location.href='/parkingReservation'
          }
        }
      });
    }

  </script>
</html>